/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.jenkins-build-list {

}

.jenkins-build .header {
	font-weight: bold;
	font-size: 17px;
	padding-left: 26px;
}

.jb-success {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/green24.png) left top no-repeat;
}

.jb-success,
.jb-success a,
.jb-success a:link,
.jb-success a:hover,
.jb-success a:active,
.jb-success a:visited {
	color: #393 !important;
}

.jb-unstable {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/yellow24.png) left top no-repeat;
}

.jb-unstable,
.jb-unstable a,
.jb-unstable a:link,
.jb-unstable a:hover,
.jb-unstable a:active,
.jb-unstable a:visited {
	color: #FFDD00 !important;
}

.jb-failure {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/red24.png) left top no-repeat;
}

.jb-failure,
.jb-failure a,
.jb-failure a:link,
.jb-failure a:hover,
.jb-failure a:active,
.jb-failure a:visited {
	color: #A00 !important;
}

.jb-aborted {
	background: url(../../../download/resources/com.marvelution.jira.plugins.jenkins/images/grey24.png) left top no-repeat;
}

.jb-aborted,
.jb-aborted a,
.jb-aborted a:link,
.jb-aborted a:hover,
.jb-aborted a:active,
.jb-aborted a:visited {
	color: #999 !important;
}

.jenkins-build .details {
	float: right;
	text-align: right;
}
.jenkins-build .details span {
	color: #666;
}

.jenkins-build .related-issues {
	color: #666;
}

.jenkins-build .related-issues ul {
	padding: 0;
}

.jenkins-build .related-issues li {
	display: inline;
	border-left: 2px solid #999;
	padding-left: 5px;
}

.jenkins-build .related-issues li:first-child {
	padding-left: 0px;
	border-left: 0px;
}
